<section class="container__main__card__avatar">
  <!-- Diapositiva 1 -->
  <div class="container__main__card__avatar--img fade">
    <img src="../../../assets/img/img-avatar/ava11.png" width="100%">
  </div>
  <!-- Diapositiva 2 -->
  <div class="container__main__card__avatar--img fade">
    <img src="../../../assets/img/img-avatar/ava12.png" width="100%">
  </div>
  <!-- Diapositiva 3 -->
  <div class="container__main__card__avatar--img fade">
    <img src="../../../assets/img/img-avatar/ava13.png" width="100%">
  </div>
  <!-- Diapositiva 4 -->
  <div class="container__main__card__avatar--img fade">
    <img src="../../../assets/img/img-avatar/ava14.png" width="100%">
  </div>
</section>
<section class="container__main__card__select">
  <!-- Botón para ir a la diapositiva anterior -->
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <div class="container__main__card__dot">
    <!-- Puntos de navegación para seleccionar una diapositiva específica -->
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
    <span class="dot" (click)="currentSlide(4)"></span>
  </div>
  <!-- Botón para ir a la siguiente diapositiva -->
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</section>
